# Ignore the Virtual Environment
.venv/
venv/
ENV/

# Ignore Generated Data (Because our script creates it)
data/

# Ignore Python Cache files
__pycache__/
*.pyc

# Ignore IDE settings (Optional)
.vscode/
.idea/